@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

a {
  color: black !important;
}

.brand-logo {
  font-family: "Grand Hotel", cursive;
}

.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.mycard {
  margin-top: 40px;
}

.input-field input[type="email"]:focus {
  border-bottom: 1px solid #1976d2 blue darken-2 !important  ;
  box-shadow: 0 1px 0 0 #1976d2 blue darken-2 !important  ;
}
